/* cmsms stylesheet: Simplex Print modified: 01/05/17 18:28:59 */
body {background: #fff;color: #000;font-family: Georgia, Times New Roman, serif;font-size: 12pt}.noprint,.visuallyhidden {display: none}img {display: block;float: none}a:link:after {content: " (" attr(href) ") ";}a {text-decoration: underline}
